@page
@model MarcaModel
@{
    ViewData["Title"] = "Marca";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <br />
<h1>Marca</h1>
<br />
<div class="tab-content" id="nav-tabContent">

    <br />
    <div id="warningCadastroMarca" class="alert alert-warning" role="alert" style="display:none">

    </div>
    <br />
    <form id="formCadastroMarca">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="exampleInputEmail1">Nome</label>
            <input type="text" class="form-control" name="nome" id="txtNomeMarca" aria-describedby="" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">URL Logotipo</label>
            <input type="text" class="form-control" name="logotipo" id="txtUrl" placeholder="URL">
            <div class="divImgLogo">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="btnCadastroMarca">Cadastrar</button>
    </form>
    <br />
    <table id="tableMarcas" class="table" style="display:none">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Logotipo</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $('#txtUrl').change(function () {
        var a = $(this).val();
        var new_img = '<img src=' + a + '>';
        $('.divImgLogo').html(new_img);
    });

    $("#formCadastroMarca").on("submit", function (e) {
        e.preventDefault();
        $('#warningCadastroMarca').hide();
        $.ajax({
            method: "POST",
            url: "../Marca/CadastrarMarca",
            async: true,
            datatype: 'json',
            data: $('#formCadastroMarca').serialize()
        })
            .done(function (obj) {
                modal_off();
                if (obj.success) {
                    clear();
                    ListarMarcas();
                } else {
                    $('#warningCadastroMarca').html(obj.msg);
                    $('#warningCadastroMarca').show();
                }
            });

    });

    $(document).ready(function () {
        ListarMarcas();

    });

    function ListarMarcas() {

        $.ajax({
            method: "GET",
            url: "../Marca/ListarMarcas",
            async: true,
            datatype: 'json',
        })
            .done(function (obj) {
                debugger;
                $.each(obj.obj, function (index, value) {
                    $("#tableMarcas tbody").append("<tr><td>" + value.nome + "</td><td><img src=" + value.logotipo + " style='height:90px;width:90px'></td></tr>");
                });

                if ($("#tableMarcas tbody").html().length > 0)
                    $("#tableMarcas").show();
            });

    }

    function clear() {

        $("input").each(function (item) {
            $(this).val("");
        });

        $(".divImgLogo").html("");

    }


</script>