@page
@model el_sn_marcelo_web.Pages.UnauthorizedModel
@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Ooops!</h1>
<h2 class="text-danger">Você não tem autorização para ver esta página!</h2>
